services:
  orchestrator:
    container_name: orchestrator
    restart: unless-stopped
    depends_on:
      - rabbitmq
      - postgres
    networks:
      - shared_network

  postgres:
    container_name: orchestrator-postgres
    image: postgres:16.3
    restart: unless-stopped
    volumes:
      - database:/var/lib/postgresql/data/
    networks:
      - shared_network

  rabbitmq:
    container_name: orchestrator-rabbitmq
    image: rabbitmq:3.11.17-management
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_DEFAULT_VHOST: /
    networks:
      - shared_network

  mini-io:
    container_name: mini-io
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BROWSER: "on"
      MINIO_SERVER_URL: "http://localhost:9000"
      MINIO_BROWSER_REDIRECT_URL: "http://localhost:9001"
    entrypoint: |
      /bin/sh -c "
      set -e
      echo 'Iniciando MinIO...'
      minio server /data --console-address ':9001' &
      MINIO_PID=\$!

      echo 'Aguardando MinIO iniciar...'
      sleep 10

      echo 'Configurando mc alias...'
      mc alias set local http://localhost:9000 minioadmin minioadmin || true

      echo 'Criando buckets...'
      # Crie quantos buckets precisar
      mc mb local/microservies-bucket --ignore-existing || true

      echo 'Buckets criados com sucesso!'

      # Manter o MinIO em execução
      wait \$MINIO_PID
      "
    volumes:
      - minio-data:/data
    networks:
      - shared_network

volumes:
  database:
  minio-data:

networks:
  shared_network:
    driver: bridge
